
{% extends "portfolio/base.html" %}

{% block content %}

    <div class="container jumbotron">
        <h4>Thanks for visiting this site, please note that:</h4>
        <ul>
            <li>this site is only s tutorial for learning software development</li>
            <li>not all the contents are real, especially the blogs. They are made up of dummy texts</li>
            <li>We do not claim ownership of all the contents. Some open source codes were used</li>
            <li>
                The pictures used, except the profile picture were downloaded from unsplash and pixel
                we appreciate them for making their contents available for our use at no costs
            </li>
            <li>
                one of the links used as the project's url belongs to FIFA, while the other one 
                belongs to MTN Nigeria PLC. This is just to show how to get to our projects online if they
                were real. 
            </li>
        </ul>
    </div>

{% endblock content %}